# Data Files

PythonEssentials/NumpyIntro/grid.npy
PythonEssentials/MatplotlibIntro/FARS.npy
PythonEssentials/Exceptions_FileIO/cf_example[12].txt
PythonEssentials/Exceptions_FileIO/hello_world.txt
PythonEssentials/DataVisualization/MLB.npy
PythonEssentials/DataVisualization/anscombe.npy
PythonEssentials/DataVisualization/countries.npy
PythonEssentials/DataVisualization/earthquakes.npy

Volume1/LinearTransformations/horse.npy
Volume1/LeastSquares_Eigenvalues/circle.npy
Volume1/LeastSquares_Eigenvalues/ellipse.npy
Volume1/LeastSquares_Eigenvalues/housing.npy
Volume1/ImageSegmentation/dream.png
Volume1/ImageSegmentation/dream_gray.png
Volume1/ImageSegmentation/monument.png
Volume1/ImageSegmentation/monument_gray.png
Volume1/SVD_ImageCompression/hubble.jpg
Volume1/SVD_ImageCompression/hubble_gray.jpg
Volume1/FacialRecognition/faces94.zip
Volume1/FacialRecognition/faces94/
Volume1/Differentiation/plane.npy
Volume1/Conditioning_Stability/stability_data.npy
Volume1/PageRank/web_stanford.txt
Volume1/PageRank/ncaa*.csv
Volume1/PageRank/top250movies.txt
Volume1/DrazinInverse/social_network.csv

Volume2/LinkedLists/english.txt
Volume2/BinaryTrees/english.txt
Volume2/NearestNeighbor/PostalData.npz
Volume2/BreadthFirstSearch/movieData.txt
Volume2/MarkovChains/yoda.txt
Volume2/MarkovChains/tswift1989.txt
Volume2/FourierTransform/tada.wav
Volume2/FourierTransform/mystery_chord.wav
Volume2/FourierTransform/CGC.wav
Volume2/FourierTransform/GCG.wav
Volume2/FourierTransform/balloon.wav
Volume2/FourierTransform/chopin.wav
Volume2/FourierTransform/noisy1.wav
Volume2/FourierTransform/noisy2.wav
Volume2/FourierTransform/vuvuzela.wav
Volume2/FourierTransform/noisy_face.png
Volume2/FourierTransform/license_plate.png
Volume2/Wavelets/finger.png
Volume2/Wavelets/mandrill.png
Volume2/Wavelets/swanlake.jpg
Volume2/Wavelets/swanlake_gray.jpg
Volume2/Wavelets/swanlake_polluted.jpg
Volume2/CVXOPT_Intro/ForestData.npy
Volume2/Simplex/productMix.npz
Volume2/ScipyOptimize/convection.npy
Volume2/QuasiNewtonMethods/population.npy
Volume2/GradientMethods/linregression.txt
Volume2/GradientMethods/logregression.txt
Volume2/InteriorPoint_Linear/simdata.txt
Volume2/InteriorPoint_Quadratic/portfolio.txt

DataScienceEssentials/UnixShell2/Shell2.zip
DataScienceEssentials/UnixShell2/Shell2/
DataScienceEssentials/SQL1/*.csv
DataScienceEssentials/SQL1/students.db
DataScienceEssentials/SQL2/*.csv
DataScienceEssentials/SQL2/students.db
DataScienceEssentials/RegularExpressions/fake_contacts.txt
DataScienceEssentials/WebTech/nyc_*.json
DataScienceEssentials/Pandas?/*.csv
DataScienceEssentials/MongoDB/trump.json

Volume3/Metropolis/examscores.npy
Volume3/LDA/reagan.txt
Volume3/LDA/stopwords.txt
Volume3/LDA/examscores.npy
Volume3/PCA_LSI/stopwords.txt
Volume3/KMeans/earthquake_coordinates.npy
Volume3/KMeans/nasa/
Volume3/ARMA/time_series_?.txt

###################
# Latex tmp files #
###################
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.xml
*.fls

######################
# OS generated files #
######################
.DS_Store
ehthumbs.db
Thumbs.db

################
# Backup files #
################
*~
*.backup
*.bak
*.tmp
*.temp
*.sav

################
# Binary files, EXCEPT .pdf and .png (preferred picture files). #
################
PythonEssentials.pdf
DataScienceEssentials.pdf
Volume[1234].pdf
ExtraLabs.pdf
onelab.pdf
*.eps
*.tif
*.gif

################
# Python Files #
################
*.py[cdo]
*.prof
*.lprof


# From compilation of any C files or extensions
*.dll
*.o
*.so

# From annotated compilation of any Cython files
*.html

# Compiled Fortran module files
*.mod

# F2PY signature files
.pyf

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
__pycache__/
.cache/
.coverage
htmlcov/
.tox

# Translations
*.mo

# Mr Developer
.mr.developer.cfg

# IPython notebook directories
.ipynb_checkpoints/

############
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

############################
# Cython Build Directories #
############################
build/

# Miscellaneous
!docs/*.pdf
onelab.tex
nyc_*.json
Makefile
