
# Lab data files --------------------------------------------------------------

PythonEssentials/NumpyIntro/grid.npy
PythonEssentials/MatplotlibIntro/FARS.npy
PythonEssentials/Exceptions_FileIO/hello_world.txt
PythonEssentials/Exceptions_FileIO/cf_example1.txt
PythonEssentials/Exceptions_FileIO/cf_example2.txt
PythonEssentials/Profiling/names.txt
PythonEssentials/Profiling/triangle.txt
PythonEssentials/Profiling/triangle_large.txt
PythonEssentials/DataVisualization/anscombe.npy
PythonEssentials/DataVisualization/MLB.npy
PythonEssentials/DataVisualization/earthquakes.npy
PythonEssentials/DataVisualization/countries.npy

Volume1/LinearTransformations/horse.npy
Volume1/LeastSquares_Eigenvalues/circle.npy
Volume1/LeastSquares_Eigenvalues/ellipse.npy
Volume1/LeastSquares_Eigenvalues/housing.npy
Volume1/ImageSegmentation/dream.png
Volume1/ImageSegmentation/dream_gray.png
Volume1/SVD_ImageCompression/hubble.jpg
Volume1/SVD_ImageCompression/hubble_gray.jpg
Volume1/FacialRecognition/faces94.zip
Volume1/Differentiation/plane.npy
Volume1/Conditioning_Stability/stability_data.npy
Volume1/PageRank/web_stanford.txt
Volume1/PageRank/ncaa2010.csv
Volume1/PageRank/ncaa2011.csv
Volume1/PageRank/ncaa2012.csv
Volume1/PageRank/ncaa2013.csv
Volume1/PageRank/ncaa2014.csv
Volume1/PageRank/ncaa2015.csv
Volume1/PageRank/ncaa2016.csv
Volume1/PageRank/ncaa2017.csv
Volume1/PageRank/top250movies.txt
Volume1/DrazinInverse/social_network.csv

Volume2/LinkedLists/english.txt
Volume2/BinaryTrees/english.txt
Volume2/NearestNeighbor/mnist_subset.npz
Volume2/BreadthFirstSearch/movie_data.txt
Volume2/BreadthFirstSearch/movie_data_small.txt
Volume2/MarkovChains/yoda.txt
Volume2/MarkovChains/tswift1989.txt
Volume2/FourierTransform/tada.wav
Volume2/FourierTransform/mystery_chord.wav
Volume2/FourierTransform/CGC.wav
Volume2/FourierTransform/GCG.wav
Volume2/FourierTransform/balloon.wav
Volume2/FourierTransform/chopin.wav
Volume2/FourierTransform/noisy1.wav
Volume2/FourierTransform/noisy2.wav
Volume2/FourierTransform/vuvuzela.wav
Volume2/FourierTransform/noisy_face.png
Volume2/FourierTransform/license_plate.png
Volume2/Wavelets/mandrill.png
Volume2/Wavelets/woman_darkhair.png
Volume2/Wavelets/noisy_darkhair.png
Volume2/Wavelets/uncompressed_finger.png
Volume2/PolynomialInterpolation/airdata.npy
Volume2/QuasiNewtonMethods/population.npy
Volume2/GradientMethods/linregression.txt
Volume2/GradientMethods/challenger.npy
Volume2/CVXOPT_Intro/ForestData.npy
Volume2/Simplex/productMix.npz
Volume2/InteriorPoint_Linear/simdata.txt
Volume2/InteriorPoint_Quadratic/portfolio.txt

DataScienceEssentials/UnixShell?/*.zip
DataScienceEssentials/UnixShell?/*.tar.gz
DataScienceEssentials/SQL1/student_info.csv
DataScienceEssentials/SQL1/student_grades.csv
DataScienceEssentials/SQL1/us_earthquakes.csv
DataScienceEssentials/SQL2/students.db
DataScienceEssentials/RegularExpressions/fake_contacts.txt
DataScienceEssentials/WebScraping1/example.html
DataScienceEssentials/WebScraping1/san_diego_weather.html
DataScienceEssentials/WebScraping1/large_banks_index.html
DataScienceEssentials/WebScraping1/large_banks_data.html
DataScienceEssentials/WebTechnologies/nyc_traffic.json
DataScienceEssentials/Pandas1/crime_data.csv
DataScienceEssentials/Pandas1/titanic.csv
DataScienceEssentials/Pandas2/crime_data.csv
DataScienceEssentials/Pandas2/sat_act.csv
DataScienceEssentials/Pandas3/mammal_sleep.csv
DataScienceEssentials/Pandas3/titanic.csv
DataScienceEssentials/Pandas4/DJIA.csv
DataScienceEssentials/Pandas4/finances.csv
DataScienceEssentials/Pandas4/paychecks.csv
DataScienceEssentials/Pandas4/website_traffic.csv
DataScienceEssentials/MongoDB/trump.json

Volume3/Metropolis/examscores.npy
Volume3/LDA/reagan.txt
Volume3/LDA/stopwords.txt
Volume3/LDA/examscores.npy
Volume3/PCA_LSI/stopwords.txt
Volume3/PCA_LSI/Addresses.zip
Volume3/KMeans/earthquake_coordinates.npy
Volume3/KMeans/nasa/
Volume3/ARMA/time_series_?.txt

# General Files ---------------------------------------------------------------

# Extra Python files.
__init__.py
__main__.py
*.py[cdfo]
__pycache__/
.ipynb_checkpoints/

# Latex temporary files
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.fls
*.run.xml
*.pdf

# OS generated files
.DS_Store

# Backup files
*~
*.backup
*.bak
*.tmp
*.temp
*.sav

# C compiled files, extensions
*.dll
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage
.tox
.cache/
.pytest_cache/
htmlcov/

# Lab PDFS
PythonEssentials.pdf
DataScienceEssentials.pdf
Volume[1234].pdf
ExtraLabs.pdf
onelab.pdf

# Miscellaneous
!docs/*.pdf
build/
faces94/
*.mod
nyc_*.json
onelab.tex
